/*top*/
.container-fluid i {
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 50px;
}
.container-fluid h1 {
    padding-top: 60px;
}
hr.style8 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
hr.style8:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

/*header*/
.nav-item a {
    color: rgb(73, 70, 70);
    font-family: monospace;
    font-size: large;
    font-weight: 200;
}
/*.navbar div {
    margin-right: 160px;
}*/
.navbar-nav li {
    padding-left: 30px;
    padding-right: 30px;
}
.nav-item:hover {
    text-decoration: underline;
    text-decoration-color: black;
    color: black;
}


/*top-image*/
.cover-img {
	height: 450px;
	display: table;
	width: 100%;
	background-size: cover;
}
.cover-text {
	display: table-cell;
	vertical-align: middle;
    text-align: center;
}

/*introduction*/
.row h2 {
    font-size: 50px;
    font-weight: 50;
}
.row img {
    border-radius: 50px;
}

/*career*/
tbody,thead {
    font-size: large;
}

/*contact*/
.simple_square_btn5 {
	display: block;
	position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
    background: black;
    font-size: large;
}
.simple_square_btn5:hover {
	 opacity:0.8;
	 cursor: pointer;
     text-decoration: none;
     color: white;
}

/*responsive*/
@media (max-width: 414px) {
    .container-fluid i {
        margin-left: 0px;
        margin-top: 50px;
        margin-bottom: 80px;
        border-radius: 50px;
    }
    .navbar-nav li {
        text-align: center;
    }
    .navbar-nav div {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px ) and (min-width: 414px) {
    .container-fluid i {
        margin-left: 50px;
        margin-top: 50px;
        margin-bottom: 80px;
        border-radius: 50px;
    }
    
}

